fastapi==0.109.1
uvicorn[standard]==0.27.0
python-dotenv==1.0.1
pydantic>=2.4.2,<3.0.0
pydantic-settings>=2.0.1,<3.0.0
sqlalchemy==1.4.51
psycopg[binary]==3.2.9
psycopg-sa==0.2.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
alembic==1.13.1
gunicorn==21.2.0
python-json-logger==2.0.7
email-validator==2.1.0.post1